/*-----  Evidence-Action  ----------------- */
@font-face { font-family: TStar-Bol; src: url('fonts/TStar-Bol.otf'); } 
@font-face { font-family: TStar-Lig; src: url('fonts/TStar-Lig.otf'); } 
@font-face { font-family: TStar-Reg; src: url('fonts/TStar-Reg.otf'); } 
@font-face { font-family: Prensa-BoldItalic; src: url('fonts/Prensa-BoldItalic.otf'); } 
@font-face { font-family: Prensa-Book; src: url('fonts/Prensa-Book.otf'); } 
@font-face { font-family: Prensa-BookItalic; src: url('fonts/Prensa-BookItalic.otf'); } 
@font-face { font-family: Prensa-Light; src: url('fonts/Prensa-Light.otf'); } 
@font-face { font-family: Prensa-LightItalic; src: url('fonts/Prensa-LightItalic.otf'); } 
clearFix{clear:both;}

body{ 
  width: 100%;
  background:#E7E3E0; padding: 0 0; margin:0 0;
  font:13px Verdana, Arial, Helvetica, sans-serif;
  /*overflow: hidden;*/
}

hr { 
  height: 1px; margin: 5px 0; border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
}

.header{
  /*width:99%;*/ 
  min-width: 1200px;
  margin: 0px 0px; 
  padding: 20px;
  background:#ffffff; 
  border-bottom:1px solid #c6c2c1; 
  height: 60px;
}
/*.footer{
  width:100%; 
  margin: 0px 0px; 
  padding: 20px; 
  background:#435322; 
  border-bottom:1px solid #c6c2c1; 
  height: 40px;
  float: left;
}*/
.header .menuLinks{ margin-left: 200px; background-color: #fff;}

.notificationTitle{
  color: #556066;
  font-size: 15px;
}
.notificationContent{
  color: #EF637D;
  font-size: 15px;
}

.contentMain{
  width:100%; 
  min-width: 800px;
  margin: 0px 0px; 
  padding: 0px; 
  background:#E7E3E0; 
  /*border-bottom:1px solid #c6c2c1;*/ 
  min-height: 500px;
  min-width: 1000px;
  float: left;
  /*overflow: scroll;*/
}
.contentMain .contentLeft{
  width:13%; 
  min-width: 140px;
  margin: 0px 0px; 
  padding: 5px; 
  /*background:#959095;*/ 
  border-right: 1px solid #c6c2c1; 
  min-height: 530px;
  height: 100%;
  float: left;
}
.contentMain .contentLeft h3{
  padding: 2px;
  margin: 2px;
  /*margin-top: 20px;*/
  /*background-color: #adadad;*/
}

/*.contentLeft{max-width:1000px; margin:40px auto;}*/
/*.contentLeft h2{font:15px "Times New Roman", Times, serif; color:#2e3192; text-align:center;}*/
.contentLeft ul{max-width:500px; margin:0px auto 0 auto; /*background:#ddd; border:1px solid #cccccc;*/ padding:0 10px;}
.contentLeft ul li{display:block; padding:1px 7px; /*border-top:1px solid #fff; border-bottom:1px solid #adadad;*/ text-align:left;}
.contentLeft ul a{text-decoration: none; color: black;}
/*.contentLeft ul li.noBor{border-bottom:0;}
.contentLeft ul li:first-child{border-top:0;}*/
.contentLeft ul li:hover {color:#ffffff; background-color: #F26D87; border-radius: 1px; width: 90%}
.linkActive {color:black; background-color: #EF9EAE; border-radius: 1px;}
.contentLeft ul li a{font:15px, TStar-Bol; text-decoration: none; color:#000000;}
/*.contentLeft ul li a:hover{color:#ffffff; background-color: #F26D87; border-radius: 5px; padding: 5px; width: 90%}*/


.contentMain .contentBody{
  width:83%;
  margin: 0px 0px; 
  padding-left: 15px; 
  background-color: #E7E3E0; 
  /*border:1px solid #c6c2c1;*/ 
  min-height: 500px;
  /*min-width: 900px;*/
  float: left;
}
.dashboardMenu1,.dashboardMenu2{
  width:80%; 
  height: 200px;
  margin: 0px; 
  padding: 5px; 
  margin: 0px auto;
  /*background-color: green;*/ 
  /*border:1px solid #c6c2c1;*/ 
  /*float: left;*/
}
.dashboardTile{
  height: 170px;
  width: 200px;
  margin: 5px;
  color: white;
  font-family: TStar-Bol;
  font-size: 20px;
  background-color: black;
  float: left;
  padding: 10px;
}
.dashboardTile:hover{
  color: white;
  background-color: #000222;
}

.menuTile{
  height: 170px;
  width: 150px;
  margin: 5px;
  color: white;
  font-family: TStar-Bol;
  font-size: 20px;
  background-color: black;
  float: left;
  padding: 10px;
}
.menuTile:hover{
  color: white;
  background-color: #000222;
}


/*======-   nav menu ==========================*/
nav a {
  text-decoration: none;
  font:18px TStar-Bol; 
  color: #000;
  display: block; 
}
nav a:hover {
  color: #F43054;
  /* text-decoration: underline; */
}
nav ul { 
  list-style: none;
  margin: 0;
  padding: 0; }
nav ul li { margin: 0; padding: 0; }

/* Top-level menu */
nav > ul > li { 
  float: left;
  color:red;
  position: relative; }
nav > ul > li > a { 
  padding: 10px 20px;
  padding-bottom: 0;
  border-left: 1px solid #000;
  display: block;}
nav > ul > li:first-child { margin: 0; }
nav > ul > li:first-child a { border: 0; }

/* Dropdown Menu */
nav ul li ul {
  position: absolute;
  /*background: #ffffff;*/
  width: 100%; 
  margin: 0;
  padding: 0;
  display: none; 
}
nav ul li ul li { 
  margin-left: 10px;
  /*text-align: center;*/
  /*width: 100%;*/ 
}
nav ul li ul a {
  padding: 0px 20px; 
  font:15px Prensa-Book; 
  /*background: #ffffff;*/
}
nav ul li:hover ul { display: block; }
/*----------------------------------*/

/*======-   nav menu ==========================*/
.btnCustom{
  background:#f55c77; 
  padding:6px 10px; 
  border:1px solid #727272; 
  cursor:pointer; 
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font:bold 14px Verdana, Arial, Helvetica, sans-serif; 
  color:#272727; text-shadow: 1px 1px 1px #fff;
}
.btnCustom:hover{
}
/*----------------------------------*/
/*buttonLogin*/
.btnCustomLogin{
  background:#f55c77; 
  padding:5px 10px; 
  border:1px solid #727272; 
  margin: 0px;
  cursor:pointer; 
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font:bold 14px Verdana, Arial, Helvetica, sans-serif; 
  color:#272727; text-shadow: 1px 1px 1px #fff;
}
.btnCustomLogin:hover{
}
/*----------------------------------*/

.btn-custom-tiny {
  background-color:#F14E6C;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:3px;
  border:1px solid #b36877;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  padding:15px 41px;
  padding: 5px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-bottom: 10px;
  margin-left: 20px;
  float: right; 
  /*background-color: hsl(0, 100%, 74%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#feadad", endColorstr="#ff7a7a"); background-image: -khtml-gradient(linear, left top, left bottom, from(#feadad), to(#ff7a7a)); background-image: -moz-linear-gradient(top, #feadad, #ff7a7a); background-image: -ms-linear-gradient(top, #feadad, #ff7a7a); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feadad), color-stop(100%, #ff7a7a)); background-image: -webkit-linear-gradient(top, #feadad, #ff7a7a); background-image: -o-linear-gradient(top, #feadad, #ff7a7a); background-image: linear-gradient(#feadad, #ff7a7a); border-color: #ff7a7a #ff7a7a hsl(0, 100%, 71.5%);   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16); -webkit-font-smoothing: antialiased;*/
}

.btn-custom-tiny:hover {
  background-color:#E0677F;
  /*background-color: hsl(0, 100%, 68%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7a7a", endColorstr="#ff5b5b"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7a7a), to(#ff5b5b)); background-image: -moz-linear-gradient(top, #ff7a7a, #ff5b5b); background-image: -ms-linear-gradient(top, #ff7a7a, #ff5b5b); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7a7a), color-stop(100%, #ff5b5b)); background-image: -webkit-linear-gradient(top, #ff7a7a, #ff5b5b); background-image: -o-linear-gradient(top, #ff7a7a, #ff5b5b); background-image: linear-gradient(#ff7a7a, #ff5b5b); border-color: #ff5b5b #ff5b5b hsl(0, 100%, 66.5%); color: #ffffff !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.09); -webkit-font-smoothing: antialiased;*/
}

.btn-custom-tiny:active {
  position:relative;
  top:1px;
}
/*--------------------------*/

.txtLogin{ 
  /*width:388px;*/
  padding: 25px; 
  height:90px;
  border:0; 
  font:15px TStar-Bol; 
  color:#272727;
  padding: 10px;
}
.txtLogin:focus{ 
  border:1px solid #f55c77; 
  -moz-box-shadow: 0 0 2px 5px #fadcdd;
  -webkit-box-shadow:0 0 2px 5px #fadcdd; 
  box-shadow:0 0 2px 5px #fadcdd;
}


.input_textbox_p  {
  margin-left: 3.7px;
  font-family: "Prensa", Helvetica, Arial, sans-serif;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  /*color: #555;*/
  color: #3D3D3D;
  border: 1px solid #AAAAAA;
  width: 95%;
  /*min-width: 230px;*/
  font-size: 14px;
  line-height: 20px;
  /*padding: 15px;*/
  padding: 4px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.input_select_p {
  margin-left: 3.7px;
  font-family: "Prensa", Helvetica, Arial, sans-serif;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #555;
  border: 1px solid #AAAAAA;
  width: 95%;
  /*min-width: 230px;*/
  font-size: 14px;
  line-height: 20px;
  height: 26px;
  /*padding: 15px;*/
  padding: 4px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-top: 7px;
  margin-bottom: 5px;
}


.txt-input-table-center{
  width: 98%; text-align: center;
}
.txt-input-table-center-unedit{
  width: 98%; text-align: center; background: #CCCCCC;
}

.txt-input-table{
  width: 98%; 
}
.txt-input-table-unedit{
  width: 98%; background: #CCCCCC;
} 


.lbl-display{
  background: #B4B5B0; width: 97%; padding: 4px
} 


